<div class="upper-chat">
  <div class="left-upperchat">
    <div class="room-name">
      hogefuga
    </div>
  </div>
  <div class="right-upperchat">
    <div class="fin-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-room">
  <div class="message">
    <div class="user-date">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>
  <div class="message">
    <div class="user-date">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/11/11(Wed) 11:11:11
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        シェアハピ
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-content">
    <input placeholder="type a message" class="message-form">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="submit-btn">
</div>
