<div class="upper-side">
  <div class="user-name">
  <a href="#">TOM</a>
  </div>
  <div class="create-room">
  <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="lower-side">
  <div class="select-room">
  <a href="#">techroom1</a>
  </div>
  <div class="select-room">
  <a href="#">techroom2</a>
  </div>
</div>